 *.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/src/main/java/com/zinhao/kikoeru/db/DaoMaster.java
app/src/main/java/com/zinhao/kikoeru/db/DaoSession.java
app/src/main/java/com/zinhao/kikoeru/db/UserDao.java
/app/src/main/java/com/zinhao/kikoeru/db/
/signer.py
/.idea/AndroidProjectSystem.xml
/app/Kikoeru_android_release/app-release.apk
/app/Kikoeru_android_release/baselineProfiles/0/app-release.dm
/app/Kikoeru_android_release/baselineProfiles/1/app-release.dm
/.idea/dbnavigator.xml
/app/Kikoeru_android_release/Kikoeru_build20260405-145947_release.apk
/app/Kikoeru_android_release/output-metadata.json
/.idea/runConfigurations.xml
